/* body {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;        
  background-size: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
} */

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px; 
 }

body {
  background-image:
  url("assets/image/gp.jpg");

  background-repeat: no-repeat;

  background-attachment: fixed;
}
body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(assets/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
      -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
     filter: blur(5px);
     z-index: -9;
}
#profile-img {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
   
  }
  * {
    box-sizing: border-box;
  }
  /* general */
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px; text-align: center; word-spacing: 3px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    /* font-weight: 700; */
    color: #4aaaa5;  
  }
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd; color: #fff;
  }
  h2,
  h3 {
    font-size: 22px; text-align: center;
  }
  h1.lg-heading {
    font-size: 130px;
    color: #fff; 
    text-shadow: 3px 3px 10px #4aaaa5; 
    text-align: center;
  }
 
  h2.lg-heading,
  h3.lg-heading {
     font-size: 5rem; 
    text-shadow: 3px 3px 10px #000000; 
    text-align: center;
    color: #fff;
  }


  /* header */
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  nav {
    float: right;

  }
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  nav a:first-child {
    border-left: 0 none;
  }
 
  header {
    position: sticky;
    z-index: 2;
    width: 100% }
  
  .text-secondary {
    color: #4AAAA5;
    padding: .5rem; 
    text-shadow: 2px 2px 3px #000000}
  
  .push {
    height: 250px;
  }
  /* footer */
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
  }
  /* sidebar */
  .sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
  }
  h3,
  .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  .social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
  }
  .social:last-child {
    margin-right: 0;
  }
  /* main */
  #main-container {
    padding-top: 200px;
  }
  .main-section {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0px;
    background: #fff;
    border: 1px solid #ddd;
  }
   .icons {
    margin-top: 1rem; align-content: center; text-align: center;}
     .icons a {
      padding: 1.5rem; color: #4aaaa5; text-shadow: 3px 3px 5px #000000}
       .icons a:hover {
        
        transition: all .75s ease-out; } main .icons {
          margin-top: 1rem; }
           .icons a {
            padding: 3rem; }
             .icons a:hover {                          
                color: #777; 
                transition: all .75s ease-out; }
  /* portfolio page */
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  .work:nth-child(even) {
    margin-right: 40px;
  }
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  /* contact page */
  .contact-section {
    float: left;
    width: 100%;
    min-width: 1000px;
    min-height: 500px;
    padding: 40px;
    margin: 0px;
    background: #fff;
    border: 1px solid #ddd;
  }
  #contact-form li {
    margin-bottom: 10px;
  }
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  textarea {
    height: 200px;
  }
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  .icons {
    margin-top: 30px;
  }
  .icons a h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    text-shadow: none;
  }
  #skills {
    font-size: large;
  }
  #tab {
      font-size: 20px;
  }